footer {
  display: flex;
  height: 35px;
  padding: 15px;
  box-shadow: 0 1px 0 rgba(151, 151, 151, 0.1);
  text-align: left;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  bottom: 0;
  font-size: 25px;
  color: gray;
}

.keypad {
  color: white;
  background-color: rgba(87, 199, 87);
  z-index: 2;
  padding: 20px;
  position: relative;
  font-size: 25px;
  bottom: 40px;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 0 1px 0 rgba(151, 151, 151, 0.1);
  cursor: pointer;
}

.keypad:hover {
  cursor: pointer;
  background-color: rgb(37, 199, 37);
}

.ft_icon:hover {
  color: black;
  cursor: pointer
}

